.App .background {
  max-width: 600px;
  margin: 30px auto 10px;
  border: 5px solid #132819;
  border-radius: 10px;
  background-image: url("./images/color-books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

.App footer {
  font-size: 11px;
  text-align: center;
}
