.Photos {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  color: rgb(43, 40, 40);
  padding: 15px 25px;
  display: block;
  max-width: 700px;
  margin: 20px auto;
}

.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}
